@font-face {
    font-family: "Norse-Bold";
    src: local("Norse-Bold"), url("Norse-Bold.otf") format("opentype");
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0px;
}

pre {
    width: 100%;
}

a {
    appearance: none;
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    appearance: none;
    border: none;
    margin: 0px;
    padding: 0px;
}

input {
    outline: none;
    border: solid #E5E7EB 1px;
    border-radius: 5px;
    background-color: rgba(230, 230, 230, 0.027);
}

input:focus {
    outline: none;
    border: solid rgb(48, 48, 255) 0.25px;
    -webkit-box-shadow: 1px 1px 6px 0px #808080; 
    box-shadow: 1px 1px 6px 0px #808080;
}

div.form-element>label {
    color: rgb(1, 31, 66);
}

.form-side-container {
    width: 62.75vw;
    height: 100vh;
    border-left: black outset 2.5px;
    background-color: rgba(230, 230, 230, 0.35);
}

.form-container {
    height: min(25%, fit-content);
    width: 100%;
    max-width: 55.8vw;
    padding: 1em 5.5% 0em 5.5%;
    background-color: white;
    box-shadow: 0px 0px 32px -17px rgba(0,0,0,0.75)
}

#account-creation-form {
    max-width: 30rem;
    min-width: 28rem;
    width: 60%;
}

.form-hero-text {
    width: 80%;
    padding-top: min(19%, 5rem);
    padding-bottom: 8%;
    padding-left: 5%;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.form-legend-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
}

.form-row {
    padding-top: 2%;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.form-element {
    font-size: 1vw;
}

.lower-form-side-container {
    padding: 2.5% 0px 0px 2.5%;
}

#create-account-btn {
    appearance: none;
    border-radius: 15px;
    background-color: #596D48;
    color: white;
    padding: 15px 45px;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 15px 0px #808080; 
    box-shadow: 0px 0px 15px 0px #808080;
    border: none;
}

.hero-image-container {
    width: 37.25vw;
    height: 100vh;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

.hero-title {
    font-family: Norse-Bold, Arial;
    position: relative;
    top: 20%;
    height: 15%;
    width: 100%;
    color: white;
    font-size: 6.75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.491);
    padding: 20px 0px;
}

.photo-credit {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: -78%;
    color: white;
    font-size: 15px;
}

#password-match {
    width: 100%;
    color: red;
    font-size: 1vw;
    padding: 5px 0px 0px 5px;
}

.logo {
    height: 100%;
    margin: 1%;
}